<!DOCTYPE html>
<html>
<head>
    <title>US Job Listings</title>
</head>
<body>
    <h1>US Job Listings</h1>
    <ul>
        {% for job in jobs %}
            <li>
                <h2>{{ job.title }}</h2>
                <p>{{ job.description|safe }}</p> 
                <p>Company: {{ job.company }}</p>
                <p>Location: {{ job.location }}</p>
                <p>Salary Min: ${{ job.salary_min|floatformat:"2" }}</p>
                <p>Created At: {{ job.created_at }}</p>
                <a href="{{ job.redirect_url }}" target = "_blank">More Details</a>
            </li>
        {% empty %}
            <li>No job listings found.</li>
        {% endfor %}
    </ul>
</body>
</html>
